<p id="notice"><%= notice %></p>

<h1>Subderrits:</h1>

<table>

  <tbody>
    <td> <%= link_to "All", "/all" %> </td>
    <% @subderrits.each do |subderrit| %>
      <tr>
        <td><%= link_to "#{subderrit.name}", subderrit %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if logged_in? %>
  <%= link_to 'Make your own!', new_subderrit_path %>
<%end%>
